.cursor-crosshair { cursor: crosshair !important; }
        #map { z-index: 0; }
        .suggestions-list { max-height: 200px; overflow-y: auto; }
        
        /* darkmode */
        .leaflet-popup-content-wrapper, .leaflet-popup-tip {
            background-color: #1f2937; color: white;
        }
        
        /* Range Slider (aktuell kaputt :( */
        input[type=range] {
            -webkit-appearance: none; 
            width: 100%; 
            height: 6px;
            background: #4b5563; 
            border-radius: 3px;
            outline: none;
            cursor: pointer;
        }
        
        /* webkit range slider */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 18px; width: 18px;
            border-radius: 50%;
            background: #3b82f6;
            margin-top: -6px; 
            box-shadow: 0 1px 3px rgba(0,0,0,0.4);
            transition: transform 0.1s;
        }
        input[type=range]::-webkit-slider-thumb:hover {
            transform: scale(1.1);
        }


        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 6px;
            cursor: pointer;
            background: transparent; 
            border-radius: 3px;
            border: none;
        }
        
        /* Firefox support */
        input[type=range]::-moz-range-track {
            width: 100%; height: 6px; background: transparent; border-radius: 3px;
        }
        input[type=range]::-moz-range-thumb {
            height: 18px; width: 18px; border: none; border-radius: 50%; background: #3b82f6;
        }
        .logo_corner {
            height: 70px;
            width: auto;
        }